Repository DFE-Digital/get-into-teaching-content, changes with the labels that .github/labeler.yml gives for each.
All labels: Assets, Content, Config, Test, DevOps, Docker

.github/labeler.yml:

---

Assets:
  - assets/**/*

Content:
  - content/**/*

Config:
  - config/**/*

Test:
  - tests/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-run.sh

Fixed markdown on experienced-teachers.md page
  content/experienced-teachers.md
Labels: Content

Run content pages check on PRs as well as master
  .github/workflows/build.yml
Labels: DevOps

Quotes effect test operation
  .github/workflows/build.yml
Labels: DevOps

use common code library for workflow
  .github/workflows/build.yml
Labels: DevOps

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Common code for Release
  .github/workflows/build.yml
Labels: DevOps

Create publish_release.yml
  .github/workflows/publish_release.yml
Labels: DevOps

Create CODEOWNERS
  .github/CODEOWNERS
Labels: none

Implement Production Deploy
  .github/workflows/build.yml
Labels: DevOps

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Update test.env.tfvars
  terraform/paas/test.env.tfvars
Labels: DevOps

Increase Timeout
  .github/workflows/build.yml
Labels: DevOps

Common environment added
  .github/common_environment.yml
  .github/workflows/build.yml
  .github/workflows/cve.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/labeler.yml
  .github/workflows/manual.yml
  .github/workflows/publish_release.yml
Labels: DevOps

Update common_environment.yml
  .github/common_environment.yml
Labels: DevOps

Copy OWAS Scan from TTA and Re-initiate in workflow
  .github/workflows/build.yml
  .github/workflows/owasp.yml
Labels: DevOps

Status Cake Merged into Main Terraform
  .github/workflows/deploy.yml
  .github/workflows/statuscake.yml
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/review.env.tfvars
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
  terraform/statuscake/backend.tf
  terraform/statuscake/dev.bk.vars
  terraform/statuscake/dev.env.tfvars
  terraform/statuscake/provider.tf
  terraform/statuscake/test.bk.vars
  terraform/statuscake/test.env.tfvars
  terraform/statuscake/variables.tf
Labels: DevOps

Review Needed to be Null alerts
  terraform/paas/review.env.tfvars
Labels: DevOps

Separate teaching as a career into partials
  content/teaching-as-a-career.md
  content/teaching_as_a_career/_career-progression.md
  content/teaching_as_a_career/_early-career-framework.md
  content/teaching_as_a_career/_focus-on-your-subject.md
  content/teaching_as_a_career/_inspire-the-next-generation.md
  content/teaching_as_a_career/_intro-cta.html.erb
  content/teaching_as_a_career/_intro.md
  content/teaching_as_a_career/_leadership.md
  content/teaching_as_a_career/_pastoral-care.md
Labels: Content

Replace some h1's with h3's and fix whitespace
  content/home/_find_an_event_near_you.html.erb
  content/home/_steps_home.html.erb
  content/teaching_as_a_career/_intro-cta.html.erb
Labels: Content

Removed List of Default Status Codes
  terraform/paas/production.env.tfvars
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
Labels: DevOps

Add Variables to Destroy
  .github/workflows/destroy.yml
Labels: DevOps

Add online events and support CTAs to right side
  content/international-candidates.md
Labels: Content

Split internationals content into sections
  content/international-candidates.md
  content/international-candidates/_choosing-the-correct-visa-for-your-teaching-job-or-teacher-training-course.md
  content/international-candidates/_how-to-apply-for-a-visa-which-allows-you-to-work-or-study-in-the-uk.md
  content/international-candidates/_how-to-apply-for-qts.md
  content/international-candidates/_how-to-apply-for-teaching-jobs-in-england.md
  content/international-candidates/_how-to-apply-for-train-to-teach-in-england-cta.html.erb
  content/international-candidates/_how-to-apply-for-train-to-teach-in-england-part-1.md
  content/international-candidates/_how-to-apply-for-train-to-teach-in-england-part-2.md
  content/international-candidates/_teaching-or-training-to-teach-in-england.md
  content/international-candidates/_ways-to-train-or-work-as-a-teacher-in-the-uk-without-a-skilled-worker-visa-or-student-visa.md
Labels: Content

Added Status Cake without Tests
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/statuscake.yml
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/review.env.tfvars
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
  terraform/statuscake/backend.tf
  terraform/statuscake/dev.bk.vars
  terraform/statuscake/dev.env.tfvars
  terraform/statuscake/provider.tf
  terraform/statuscake/test.bk.vars
  terraform/statuscake/test.env.tfvars
  terraform/statuscake/variables.tf
Labels: DevOps

Remove the 'if you need the right quals' page
  content/steps-to-become-a-teacher/if-you-need-to-get-the-right-qualifications.md
Labels: Content

Update deploy.yml
  .github/workflows/deploy.yml
Labels: DevOps

Temporarily add old internationals pages
  content/guidance/international-students.md
  content/guidance/international-teachers.md
Labels: Content

Snaffle Secrets
  .github/workflows/cve.yml
Labels: DevOps

add label
  .github/workflows/build.yml
Labels: DevOps

Add Statuscake to terraform
  terraform/paas/production.env.tfvars
Labels: DevOps

Dont label with dependabots
  .github/workflows/build.yml
Labels: DevOps

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Update production.env.tfvars
  terraform/paas/production.env.tfvars
Labels: DevOps

Update statuscake.tf
  terraform/paas/statuscake.tf
Labels: DevOps

Fix Network policies after deployment
  .github/workflows/build.yml
Labels: DevOps

Update variables.tf
  terraform/paas/variables.tf
Labels: DevOps

Secrets moved to terraform
  .github/workflows/deploy.yml
  terraform/paas/application.tf
  terraform/paas/data.tf
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/review.env.tfvars
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

Create preview url for 32a8f74
  Dockerfile
Labels: Docker

Checking against wrong ID
  .github/workflows/build.yml
Labels: DevOps

Better Release Body
  .github/workflows/build.yml
Labels: DevOps
