Repository DFE-Digital/get-into-teaching-content, changes with the labels that .github/labeler.yml gives for each.
All labels: Assets, Content, Config, Test, DevOps, Docker

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Use CopyPRtoRelease
  .github/workflows/build.yml
Labels: DevOps

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Update build.yml
  .github/workflows/build.yml
Labels: DevOps

Moving to using Azure for DevOps Secrets
  .github/workflows/build.yml
  .github/workflows/cve.yml
  .github/workflows/destroy.yml
  .github/workflows/manual.yml
  .github/workflows/owasp.yml
  .github/workflows/trello.yml
Labels: DevOps

Made DevOps Secrets distinct so can be obfuscated by GitHub
  .github/workflows/build.yml
  .github/workflows/cve.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/manual.yml
  .github/workflows/owasp.yml
  .github/workflows/trello.yml
  terraform/paas/application.tf
  terraform/paas/data.tf
  terraform/paas/provider.tf
  terraform/paas/statuscake.tf
  terraform/paas/variables.tf
Labels: DevOps

Add body
  .github/workflows/build.yml
Labels: DevOps

Improve Release Note
  .github/workflows/build.yml
Labels: DevOps

Update manual.yml
  .github/workflows/manual.yml
Labels: DevOps

Update manual.yml
  .github/workflows/manual.yml
Labels: DevOps

Add a blank international returners page
  content/international-returners.md
  content/returning-to-teaching.md
Labels: Content

Add some draft international returners content
  content/international-returners.md
Labels: Content

First draft of new returning to teaching page
  content/returning-to-teaching.md
  content/returning-to-teaching/_finding-a-role.md
  content/returning-to-teaching/_intro.md
  content/returning-to-teaching/_return-to-teaching-advisers-cta.html.erb
  content/returning-to-teaching/_return-to-teaching-advisers.md
  content/returning-to-teaching/_support-for-returners-with-protected-characteristics.md
  content/returning-to-teaching/_teachers-who-trained-in-england-returning-from-overseas.md
Labels: Content

Add some draft international returners content
  content/international-returners.md
Labels: Content

Add a blank international returners page
  content/international-returners.md
  content/returning-to-teaching.md
Labels: Content

Update returners copy based on recent suggestions
  content/returning-to-teaching.md
  content/returning-to-teaching/_finding-a-role.md
  content/returning-to-teaching/_improving-the-lives-of-teachers.md
  content/returning-to-teaching/_intro.md
  content/returning-to-teaching/_return-to-teaching-advisers.md
  content/returning-to-teaching/_teachers-who-trained-in-england-returning-from-overseas.md
Labels: Content

Move the int'l returner 'steps' to an accordion
  content/international-returners.md
  content/international-returners/_check-your-qualifications.md
  content/international-returners/_contact-us-for-support-and-help.md
  content/international-returners/_download-info-pack.md
  content/international-returners/_get-ready-to-apply.md
  content/international-returners/_get-started-on-your-personal-and-professional-admin.md
  content/international-returners/_read-up-on-changes-to-english-schools.md
  content/international-returners/_research-visas-and-immigration.md
Labels: Content

First draft of new returning to teaching page
  content/returning-to-teaching.md
  content/returning-to-teaching/_finding-a-role.md
  content/returning-to-teaching/_intro.md
  content/returning-to-teaching/_return-to-teaching-advisers-cta.html.erb
  content/returning-to-teaching/_return-to-teaching-advisers.md
  content/returning-to-teaching/_support-for-returners-with-protected-characteristics.md
  content/returning-to-teaching/_teachers-who-trained-in-england-returning-from-overseas.md
Labels: Content

Adding updates as requested by International Team
  assets/images/international-returners-dt.png
  content/international-returners.md
  content/international-returners/_check-your-qualifications.md
  content/international-returners/_get-ready-to-apply.md
  content/returning-to-teaching.md
Labels: Assets, Content

Updated CTAs
  content/international-returners.md
  content/returning-to-teaching.md
Labels: Content

Cropped Image
  assets/images/international-returners-dt.png
Labels: Assets

New partial for international returners and CTA text
  content/returning-to-teaching.md
  content/returning-to-teaching/_teachers-who-trained-in-England-returning-from-overseas.md
Labels: Content

Validate Azure Keys
  .github/workflows/deploy.yml
Labels: DevOps

Added Secrets Makefile
  .gitignore
  Makefile
Labels: none

Update Trello to Common Action
  .github/workflows/trello.yml
Labels: DevOps

Fixed Bracket
  .github/workflows/trello.yml
Labels: DevOps

Restrucutre steps for an accordion-free layout
  content/steps-to-become-a-teacher.md
Labels: Content

Remove the 'if you need the right quals' page
  content/steps-to-become-a-teacher/if-you-need-to-get-the-right-qualifications.md
Labels: Content

Run external link checker every morning at 6:35
  .github/workflows/link_checker.yml
Labels: DevOps

Use for-each rather than count
  terraform/paas/.gitignore
  terraform/paas/application.tf
  terraform/paas/data.tf
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/route.tf
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

Live Routes Added
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/review.env.tfvars
  terraform/paas/route.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps

Speed Check Manual Deploy
  .github/workflows/deploy.yml
  terraform/paas/application.tf
  terraform/paas/data.tf
  terraform/paas/pagespeed.bk.vars
  terraform/paas/pagespeed.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/statuscake.tf
  terraform/paas/variables.tf
Labels: DevOps

Removed Additional Routes, which had become obsolete in another PR
  terraform/paas/pagespeed.env.tfvars
Labels: DevOps

Don't Run Tests For Speed Checks
  .github/workflows/deploy.yml
Labels: DevOps

Update deploy.yml
  .github/workflows/deploy.yml
Labels: DevOps

Double brackets on condition
  .github/workflows/deploy.yml
Labels: DevOps

Conditional Variable is a String
  .github/workflows/deploy.yml
Labels: DevOps

Job-level IF does not work well with variables.
  .github/workflows/deploy.yml
Labels: DevOps

.github/labeler.yml:

---

Assets:
  - assets/**/*

Content:
  - content/**/*

Config:
  - config/**/*

Test:
  - tests/**/*

DevOps:
  - terraform/**/*
  - .github/**/*.yml

Docker:
  - Dockerfile 
  - docker-run.sh
