Repository DFE-Digital/get-into-teaching-content, pull requests merged in 2020-12, with the labels that each got.

#171 Revise steps content
  content/steps-to-become-a-teacher.md
  content/steps-to-become-a-teacher/_application_process.md
  content/steps-to-become-a-teacher/_find_and_apply_teacher_training.md
  content/steps-to-become-a-teacher/_find_out_about_teaching_and_training.md
  content/steps-to-become-a-teacher/_ways_to_train.md
Labels: Content

#172 Return to teaching - experienced teachers
  content/experienced-teachers.md
Labels: Content

#176 Amend some links so they don't require redirects
  content/international-candidates.md
  content/steps-to-become-a-teacher/_ways_to_train.md
  content/teaching-as-a-career.md
Labels: Content

#179 Fix redirects and malformed frontmatter
  config/redirects.yml
  content/experienced-teachers.md
  content/home/life_as_a_teacher/_salaries_and_benefits.html.erb
  content/my-story-into-teaching/returners/getting-back-into-the-classroom.md
  content/my-story-into-teaching/returners/top-tips-for-returning-teachers.md
  content/steps-to-become-a-teacher/_check_your_qualifications.md
  content/teaching-as-a-career.md
Labels: Config, Content

#181 Fix the quotation in the 'ways to train' accordion step
  content/steps-to-become-a-teacher/_ways_to_train.md
Labels: Content

#173 updated steps accordion
  content/steps-to-become-a-teacher.md
  content/steps-to-become-a-teacher/_check_your_qualifications.md
  content/steps-to-become-a-teacher/_consider_school_experience.md
  content/steps-to-become-a-teacher/_find_and_apply_teacher_training.md
  content/steps-to-become-a-teacher/_find_out_about_teaching_and_training.md
  content/steps-to-become-a-teacher/_ways_to_train.md
Labels: Content

#163 Add ways to train page
  content/steps-to-become-a-teacher.md
  content/ways-to-train.md
  content/ways-to-train/_content_after_accordion.md
  content/ways-to-train/_content_before_accordion.md
  content/ways-to-train/_pgce.md
  content/ways-to-train/_postgraduate_teaching_apprenticeships.md
  content/ways-to-train/_school_direct.md
  content/ways-to-train/_teach_first.md
Labels: Content

#183 Fixed invalid links on steps-to-become-a-teacher page
  content/steps-to-become-a-teacher/_find_out_about_teaching_and_training.md
Labels: Content

#182 Build Docker Image locally and run content checks
  .github/workflows/build.yml
Labels: DevOps

#184 Remove duplicate frontmatter key
  content/my-story-into-teaching/teacher-training-stories/index.md
Labels: Content

#177 updated content and headings list
  content/experienced-teachers.md
Labels: Content

#175 Internationals
  content/funding-your-training.md
  content/guidance/become-a-teacher-in-england.md
  content/international-students.md
  content/international-teachers.md
  content/my-story-into-teaching/international-career-changers/returning-to-teaching-with-international-experience.md
  content/my-story-into-teaching/international-career-changers/returning-to-teaching-with-support-from-an-adviser.md
  content/steps-to-become-a-teacher.md
  content/steps-to-become-a-teacher/_find_and_apply_teacher_training.md
  content/steps-to-become-a-teacher/_ways_to_train.md
Labels: Content

#169 Automate Workflow to Production
  .github/workflows/build.yml
  .github/workflows/cve.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/labeler.yml
  .github/workflows/manual.yml
  .github/workflows/production.yml
  .github/workflows/release.yml
  .github/workflows/siege.yml
  .github/workflows/ur.yml
  terraform/paas/review.bk.vars
  terraform/paas/review.env.tfvars
  terraform/paas/ur.bk.vars
  terraform/paas/ur.env.tfvars
Labels: DevOps

#187 Update deploy.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Labels: DevOps

#188 OWASP not ran on content
  .github/workflows/build.yml
Labels: DevOps

#190 Review message missing
  .github/workflows/build.yml
Labels: DevOps

#191 Update build.yml
  .github/workflows/build.yml
Labels: DevOps

#189 Feature/stories images
  assets/images/stories/stories-craig.jpg
  assets/images/stories/stories-danny.jpg
  assets/images/stories/stories-jill.jpg
  assets/images/stories/stories-jon.jpg
  assets/images/stories/stories-katherine.jpg
  assets/images/stories/stories-laura.jpg
  assets/images/stories/stories-luke.jpg
  assets/images/stories/stories-nathan.jpg
  assets/images/stories/stories-owen.jpg
  assets/images/stories/stories-paul.jpg
  assets/images/stories/stories-roger.jpg
  assets/images/stories/stories-sandra.jpg
  assets/images/stories/stories-sarah-f.jpg
  assets/images/stories/stories-steven.jpg
  assets/images/victoria.jpg
Labels: Assets

#194 Changed Pauls story to Sarahs
  content/my-story-into-teaching.md
Labels: Content

#192 Generic calls to action
  config/redirects.yml
  content/home/life_as_a_teacher/_salaries_and_benefits.html.erb
  content/international-candidates.md
  content/my-story-into-teaching/returners/getting-back-into-the-classroom.md
  content/my-story-into-teaching/returners/top-tips-for-returning-teachers.md
  content/returning-to-teaching.md
  content/steps-to-become-a-teacher.md
  content/steps-to-become-a-teacher/_consider_school_experience.md
  content/steps-to-become-a-teacher/_find_and_apply_teacher_training.md
  content/steps-to-become-a-teacher/_find_out_about_teaching_and_training.md
  content/steps-to-become-a-teacher/_ways_to_train.md
  content/teaching-as-a-career.md
  content/ways-to-train.md
  content/ways-to-train/_school_direct.md
Labels: Config, Content

#196 add fullstops in content in header, remove capitalisation
  content/home/_featured_content.html.erb
  content/home/_find_an_event_near_you.html.erb
  content/home/_steps_home.html.erb
Labels: Content

#201 Swapped ways to train and funding pages around in navigation
  content/funding-your-training.md
  content/ways-to-train.md
Labels: Content

#206 Duplicate Release Rag
  .github/workflows/build.yml
Labels: DevOps

#195 spelt out acronyms on School Direct and fixed a link on returners
  content/returning-to-teaching.md
  content/steps-to-become-a-teacher/_check_your_qualifications.md
  content/ways-to-train/_school_direct.md
Labels: Content

#207 use common code library for workflow
  .github/workflows/build.yml
Labels: DevOps

#202 fixed links and headings
  content/international-candidates.md
Labels: Content

#208 new SKE content as result of announcement on courses being funded
  content/guidance/become-a-teacher-in-england.md
Labels: Content

#197 Update homepage steps to match steps page
  content/home/_steps_home.html.erb
Labels: Content

#209 Common code for Release
  .github/workflows/build.yml
  .github/workflows/publish_release.yml
Labels: DevOps

#210 fixed a typo and added
  content/ways-to-train/_content_before_accordion.md
Labels: Content

#212 Implement Production Deploy
  .github/workflows/build.yml
Labels: DevOps

#217 Remove the hyphen from 'under-fives'
  content/guidance/become-a-teacher-in-england.md
Labels: Content

#218 Switch image for one that's not used elsewhere
  content/ways-to-train.md
Labels: Content

#216 Retire the train to become a teacher guidance page
  config/redirects.yml
  content/guidance/become-a-teacher-in-england.md
  content/guidance/train-to-become-a-teacher.md
  content/international-candidates.md
  content/international-students.md
  content/steps-to-become-a-teacher/if-you-need-to-get-the-right-qualifications.md
Labels: Config, Content

#213 Add CTA to right column of international candidates
  content/international-candidates.md
  content/returning-to-teaching.html.erb
  content/returning-to-teaching/_intro.md
  content/returning-to-teaching/_main-content.md
  content/ways-to-train.md
  content/ways-to-train/_content_after_accordion.md
  content/ways-to-train/_content_before_accordion.md
  content/ways-to-train/_pgce.md
  content/ways-to-train/_school_direct.md
Labels: Content

#220 Revert "Add CTA to right column of international candidates"
  content/international-candidates.md
  content/returning-to-teaching.html.erb
  content/returning-to-teaching.md
  content/returning-to-teaching/_intro.md
  content/ways-to-train.md
  content/ways-to-train/_content_after_accordion.md
  content/ways-to-train/_content_before_accordion.md
  content/ways-to-train/_pgce.md
  content/ways-to-train/_school_direct.md
Labels: Content

#214 Update build.yml
  .github/workflows/build.yml
Labels: DevOps

#221 Restore ways to train content
  content/ways-to-train.md
  content/ways-to-train/_content_after_accordion.md
  content/ways-to-train/_content_before_accordion.md
  content/ways-to-train/_school_direct.md
Labels: Content

#200 Add marketing campaign landing page for services sign up
  content/helping-you-become-a-teacher.md
  content/helping-you-become-a-teacher/_coming-to-train-or-teach-in-the-uk.md
  content/helping-you-become-a-teacher/_email-updates-cta.html.erb
  content/helping-you-become-a-teacher/_email-updates.md
  content/helping-you-become-a-teacher/_events-cta.html.erb
  content/helping-you-become-a-teacher/_events.md
  content/helping-you-become-a-teacher/_intro.md
  content/helping-you-become-a-teacher/_tta-cta.html.erb
  content/helping-you-become-a-teacher/_tta.md
Labels: Content

#219 Reword and reorganise the funding page
  content/funding-your-training.md
  content/funding-your-training/_applying-for-funding-if-you-come-from-outside-england-cta.html.erb
  content/funding-your-training/_applying-for-funding-if-you-come-from-outside-england.md
  content/funding-your-training/_bursaries-and-scholarships-cta.html.erb
  content/funding-your-training/_bursaries-and-scholarships.md
  content/funding-your-training/_get-extra-financial-support-cta.html.erb
  content/funding-your-training/_get-extra-financial-support.md
  content/funding-your-training/_tuition-fee-and-maintenance-loans-cta.html.erb
  content/funding-your-training/_tuition-fee-and-maintenance-loans.md
Labels: Content

#223 Update test.env.tfvars
  terraform/paas/test.env.tfvars
Labels: DevOps

#203 Change stimulus target format for version 2.0.0
  content/home/featured_content/_swapping_senior_management_for_students.html.erb
  content/home/featured_content/_why_sign_up_for_a_tta.html.erb
Labels: Content

#224 Increase Timeout
  .github/workflows/build.yml
Labels: DevOps

#225 Fix the mailing list link
  content/helping-you-become-a-teacher/_email-updates-cta.html.erb
Labels: Content

#226 Corrected a couple of out of date URLs in the homepage
  content/home/featured_content/_swapping_senior_management_for_students.html.erb
  content/home/life_as_a_teacher/_teaching_as_a_career.html.erb
Labels: Content

#215 Allow accordions to be rendered with active step nominated via data attr
  content/steps-to-become-a-teacher.md
Labels: Content

#230 Remove international teachers and candidates pages
  config/redirects.yml
  content/guidance/become-a-teacher-in-england.md
  content/international-students.md
  content/international-teachers.md
  content/my-story-into-teaching/international-career-changers/returning-to-teaching-with-international-experience.md
  content/my-story-into-teaching/international-career-changers/returning-to-teaching-with-support-from-an-adviser.md
Labels: Config, Content

#229 Update return to teaching content
  content/returning-to-teaching.md
  content/returning-to-teaching/_finding-a-role.md
  content/returning-to-teaching/_improving-the-lives-of-teachers.md
  content/returning-to-teaching/_intro-cta.html.erb
  content/returning-to-teaching/_intro.md
  content/returning-to-teaching/_support-for-returners-with-protected-characteristics.md
Labels: Content

#232 Common environment added
  .github/common_environment.yml
  .github/workflows/build.yml
  .github/workflows/cve.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/labeler.yml
  .github/workflows/manual.yml
  .github/workflows/publish_release.yml
Labels: DevOps

#234 Update common_environment.yml
  .github/common_environment.yml
Labels: DevOps

#235 Update icon names for consistency
  content/funding-your-training/_applying-for-funding-if-you-come-from-outside-england-cta.html.erb
  content/funding-your-training/_bursaries-and-scholarships-cta.html.erb
  content/funding-your-training/_get-extra-financial-support-cta.html.erb
  content/funding-your-training/_tuition-fee-and-maintenance-loans-cta.html.erb
  content/helping-you-become-a-teacher/_email-updates-cta.html.erb
  content/steps-to-become-a-teacher.md
  content/ways-to-train.md
Labels: Content
