Repository DFE-Digital/get-into-teaching-content, pull requests merged in 2021-02, with the labels that each got.

#299 Add body
  .github/workflows/build.yml
Labels: DevOps, Review

#297 Feature/ways to train cta
  content/ways-to-train.md
  content/ways-to-train/_tta_cta_mob.html.erb
Labels: Content, Review

#222 Replace more_stories panel with explore panel
  content/my-story-into-teaching/career-changers/becoming-a-mum-sparked-my-interest-in-teaching.md
  content/my-story-into-teaching/career-changers/financiers-future-in-maths.md
  content/my-story-into-teaching/career-changers/from-construction-site-to-classroom.md
  content/my-story-into-teaching/career-changers/from-developing-software-to-developing-students.md
  content/my-story-into-teaching/career-changers/leaping-to-head-of-department.md
  content/my-story-into-teaching/career-changers/make-a-difference-to-young-people.md
  content/my-story-into-teaching/career-changers/natural-transition-from-engineering-to-teaching-physics.md
  content/my-story-into-teaching/career-changers/passing-on-my-knowledge.md
  content/my-story-into-teaching/career-changers/police-officer-to-pe-teacher.md
  content/my-story-into-teaching/career-changers/royal-marine-commando-to-geography-teacher.md
  content/my-story-into-teaching/career-changers/school-experience-helped-me-decide-to-switch.md
  content/my-story-into-teaching/career-changers/swapping-senior-management-for-students.md
  content/my-story-into-teaching/career-changers/teaching-gave-me-purpose.md
  content/my-story-into-teaching/career-changers/transferring-my-skills-to-teaching.md
  content/my-story-into-teaching/career-progression/grasp-every-opportunity.md
  content/my-story-into-teaching/career-progression/lawyer-to-assistant-teacher.md
  content/my-story-into-teaching/career-progression/leaping-to-head-of-department.md
  content/my-story-into-teaching/career-progression/newly-qualified-to-head-of-faculty.md
  content/my-story-into-teaching/career-progression/nqt-to-head-of-biology.md
  content/my-story-into-teaching/career-progression/one-year-from-post-grad-to-hod.md
  content/my-story-into-teaching/international-career-changers/returning-to-teaching-with-international-experience.md
  content/my-story-into-teaching/international-career-changers/returning-to-teaching-with-support-from-an-adviser.md
  content/my-story-into-teaching/making-a-difference/broadening-horizons-through-travelling-and-teaching.md
  content/my-story-into-teaching/making-a-difference/getting-our-geek-on-kids-coding.md
  content/my-story-into-teaching/making-a-difference/going-back-and-giving-back.md
  content/my-story-into-teaching/making-a-difference/inspiring-our-young-entrepreneurs.md
  content/my-story-into-teaching/making-a-difference/no-two-days-are-the-same.md
  content/my-story-into-teaching/making-a-difference/turning-a-tough-lesson-into-success.md
  content/my-story-into-teaching/returners/getting-back-into-the-classroom.md
  content/my-story-into-teaching/returners/top-tips-for-returning-teachers.md
  content/my-story-into-teaching/teacher-training-stories/banker-turned-teacher.md
  content/my-story-into-teaching/teacher-training-stories/salaried-teacher-training-classroom-learning.md
  content/my-story-into-teaching/teacher-training-stories/teacher-training-its-worth-it.md
  content/my-story-into-teaching/teacher-training-stories/why-dont-you-teach-miss.md
Labels: Content, Review

#301 Update _bursaries-and-scholarships.md
  content/funding-your-training/_bursaries-and-scholarships-cta.html.erb
  content/funding-your-training/_bursaries-and-scholarships.md
  content/funding-your-training/_get-extra-financial-support-cta.html.erb
  content/guidance/financial-support-for-teacher-training.md
  content/guidance/financial-support-for-teacher-training/_bursaries-cta.html.erb
  content/guidance/financial-support-for-teacher-training/_scholarships-cta.html.erb
  content/guidance/financial-support-for-teacher-training/_tuition-fees-and-maintenance-loans.md
Labels: Content, Review

#303 Updated steps: expanding content fairly substantially and adding 6th step for post-application support
  content/steps-to-become-a-teacher.md
  content/steps-to-become-a-teacher/_after_you_have_applied.md
  content/steps-to-become-a-teacher/_check_your_qualifications.md
  content/steps-to-become-a-teacher/_consider_school_experience.md
  content/steps-to-become-a-teacher/_find_and_apply_teacher_training.md
  content/steps-to-become-a-teacher/_find_out_about_teaching_and_training.md
  content/steps-to-become-a-teacher/_ways_to_train.md
  content/ways-to-train/_assessment_only.html.erb
  content/ways-to-train/_other_ways_to_train.md
Labels: Content, Review

#309 Added search keywords to content pages
  content/accessibility.md
  content/covid-19.md
  content/funding-your-training.md
  content/guidance/become-a-teacher-in-england.md
  content/guidance/financial-support-for-teacher-training.md
  content/international-candidates.md
  content/my-story-into-teaching.md
  content/my-story-into-teaching/career-progression.md
  content/my-story-into-teaching/international-career-changers.md
  content/my-story-into-teaching/making-a-difference.md
  content/my-story-into-teaching/teacher-training-stories.md
  content/presentations.md
  content/returning-to-teaching.md
  content/salaries-and-benefits.md
  content/steps-to-become-a-teacher.md
  content/three-things-to-help-you-get-into-teaching.md
  content/ways-to-train.md
Labels: Content, Review

#306 Homepage refresh
  content/home.md
  content/home/_calls-to-action.html.erb
  content/home/_directory.html.erb
  content/home/_featured_content.html.erb
  content/home/_find_an_event_near_you.html.erb
  content/home/_home_quote.html.erb
  content/home/_life_as_a_teacher.html.erb
  content/home/_purple-box.html
  content/home/_steps_home.html.erb
  content/home/featured_content/_apply_for_teacher_training.html.erb
  content/home/featured_content/_swapping_senior_management_for_students.html.erb
  content/home/featured_content/_why_sign_up_for_a_tta.html.erb
  content/home/life_as_a_teacher/_salaries_and_benefits.html.erb
  content/home/life_as_a_teacher/_teaching_as_a_career.html.erb
Labels: Content, Review

#308 Removing School Experience bullet and reordering others
  content/returning-to-teaching/_intro.md
Labels: Content, Review

#311 Update _directory.html.erb
  content/home/_directory.html.erb
Labels: Content, Review

#304 Update detailed guidance with new draft
  content/guidance/become-a-teacher-in-england.md
Labels: Content, Review

#307 SKE content updates
  content/salaries-and-benefits.md
  content/steps-to-become-a-teacher/_find_and_apply_teacher_training.md
  content/ways-to-train.md
  content/ways-to-train/_other_ways_to_train.md
  content/ways-to-train/_subject_knowledge_enhancement.md
  content/ways-to-train/_things_to_consider.md
Labels: Content, Review

#312 Remove chevron spans from links
  content/home/_purple-box.html
  content/steps-to-become-a-teacher/_find_out_about_teaching_and_training.md
Labels: Content

#313 Replace old cta button classes with regular button
  content/three-things-to-help-you-get-into-teaching.md
Labels: Content, Review

#305 Deprecating TAAC Page
  content/a-day-in-the-life-of-a-teacher.md
  content/a-day-in-the-life-of-a-teacher/_day_four_quote.html.erb
  content/a-day-in-the-life-of-a-teacher/_day_one_quote.html.erb
  content/a-day-in-the-life-of-a-teacher/_day_three_quote.html.erb
  content/a-day-in-the-life-of-a-teacher/_day_two_quote.html.erb
  content/a-day-in-the-life-of-a-teacher/_example_part_four.md
  content/a-day-in-the-life-of-a-teacher/_example_part_one.md
  content/a-day-in-the-life-of-a-teacher/_example_part_three.md
  content/a-day-in-the-life-of-a-teacher/_example_part_two.md
  content/a-day-in-the-life-of-a-teacher/_intro.md
  content/a-day-in-the-life-of-a-teacher/_jobs_in_teaching.html.erb
  content/funding-your-training.md
  content/funding-your-training/_early-career-framework.md
  content/teaching-as-a-career.md
  content/teaching-as-a-career/_career-progression.md
  content/teaching-as-a-career/_focus-on-your-subject.md
  content/teaching-as-a-career/_inspire-the-next-generation.md
  content/teaching-as-a-career/_intro-cta.html.erb
  content/teaching-as-a-career/_intro.md
  content/teaching-as-a-career/_leadership.md
  content/teaching-as-a-career/_pastoral-care.md
Labels: Content, Review

#314 Improve Release Note
  .github/workflows/build.yml
  .github/workflows/manual.yml
Labels: DevOps, Review

#316 Stop using the accordion layout
  content/steps-to-become-a-teacher.md
Labels: Content, Review

#317 Use new block component instead of repeated HTML
  content/home/_directory.html.erb
Labels: Content, Review

#318 Change headers from ## to ###
  content/steps-to-become-a-teacher/_find_out_about_teaching_and_training.md
Labels: Content, Review

#320 Update _find_and_apply_teacher_training.md
  content/steps-to-become-a-teacher/_find_and_apply_teacher_training.md
Labels: Content

#319 Added additional keywords to help users
  content/guidance/become-a-teacher-in-england.md
  content/steps-to-become-a-teacher.md
  content/three-things-to-help-you-get-into-teaching.md
  content/ways-to-train.md
Labels: Content, Review

#321 Update international-candidates.md
  content/international-candidates.md
Labels: Content, Review

#322 Updated with new Maintenance Loan values for 21/22
  content/funding-your-training/_tuition-fee-and-maintenance-loans.md
Labels: Content

#323 Add research page
  assets/documents/exploring-career-aspirations-in-the-wake-of-2020.pdf
  content/research.md
Labels: Assets, Content, Review

#324 Updating branding for TTAs (all CAPS)
  content/guidance/become-a-teacher-in-england.md
  content/steps-to-become-a-teacher/_find_out_about_teaching_and_training.md
  content/three-things-to-help-you-get-into-teaching.md
  content/ways-to-train.md
  content/ways-to-train/_tta_cta_mob.html.erb
Labels: Content, Review

#327 Change salary ranges to mini tables
  content/salaries-and-benefits.md
Labels: Content, Review

#325 Replaced reference to Online events with Online Q&As
  content/international-candidates.md
Labels: Content, Review
