Repository DFE-Digital/get-into-teaching-content, pull requests merged in 2021-01, with the labels that each got.

#231 made changes to reflect new points based immigration system
  content/international-candidates.md
Labels: Content

#227 Add get an adviser CTA back to Ways' right column
  content/ways-to-train.md
Labels: Content

#236 Copy OWASP Scan from TTA and Re-initiate in workflow
  .github/workflows/build.yml
  .github/workflows/owasp.yml
Labels: DevOps

#237 Status Cake Merged into Main Terraform
  .github/workflows/deploy.yml
  .github/workflows/statuscake.yml
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/review.env.tfvars
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
  terraform/statuscake/backend.tf
  terraform/statuscake/dev.bk.vars
  terraform/statuscake/dev.env.tfvars
  terraform/statuscake/provider.tf
  terraform/statuscake/test.bk.vars
  terraform/statuscake/test.env.tfvars
  terraform/statuscake/variables.tf
Labels: DevOps

#239 Updated Dockerfile with revert
  Dockerfile
Labels: Docker

#243 Update teaching as a career CTA
  content/teaching-as-a-career.md
  content/teaching-as-a-career/_career-progression.md
  content/teaching-as-a-career/_early-career-framework.md
  content/teaching-as-a-career/_focus-on-your-subject.md
  content/teaching-as-a-career/_inspire-the-next-generation.md
  content/teaching-as-a-career/_intro-cta.html.erb
  content/teaching-as-a-career/_intro.md
  content/teaching-as-a-career/_leadership.md
  content/teaching-as-a-career/_pastoral-care.md
Labels: Content

#242 Added Status Cake without Tests
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/statuscake.yml
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/review.env.tfvars
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
  terraform/statuscake/backend.tf
  terraform/statuscake/dev.bk.vars
  terraform/statuscake/dev.env.tfvars
  terraform/statuscake/provider.tf
  terraform/statuscake/test.bk.vars
  terraform/statuscake/test.env.tfvars
  terraform/statuscake/variables.tf
Labels: DevOps

#238 Add Variables to Destroy
  .github/workflows/destroy.yml
Labels: DevOps

#245 Update salaries-and-benefits.md
  content/salaries-and-benefits.md
Labels: Content

#247 Add paragraph with covid info for current trainees
  content/covid-19.md
Labels: Content

#246 Prepare guidance content for use with regular content layout
  content/guidance/become-a-teacher-in-england.md
  content/guidance/financial-support-for-teacher-training.md
  content/guidance/financial-support-for-teacher-training/_bursaries-1.md
  content/guidance/financial-support-for-teacher-training/_bursaries-2.md
  content/guidance/financial-support-for-teacher-training/_bursaries-cta-2.html.erb
  content/guidance/financial-support-for-teacher-training/_bursaries-cta.html.erb
  content/guidance/financial-support-for-teacher-training/_contact-and-support.html.erb
  content/guidance/financial-support-for-teacher-training/_contents.md
  content/guidance/financial-support-for-teacher-training/_disabled-students.md
  content/guidance/financial-support-for-teacher-training/_find-an-event.md
  content/guidance/financial-support-for-teacher-training/_intro.md
  content/guidance/financial-support-for-teacher-training/_parents-and-carers.md
  content/guidance/financial-support-for-teacher-training/_scholarships-cta.html.erb
  content/guidance/financial-support-for-teacher-training/_scholarships.md
  content/guidance/financial-support-for-teacher-training/_tuition-fees-and-maintenance-loans.md
Labels: Content

#248 Make some guidance content tweaks
  content/guidance/become-a-teacher-in-england.md
  content/guidance/financial-support-for-teacher-training.md
  content/guidance/financial-support-for-teacher-training/_contact-and-support.html.erb
  content/guidance/financial-support-for-teacher-training/_contents.md
  content/guidance/financial-support-for-teacher-training/_find-an-event.md
  content/guidance/financial-support-for-teacher-training/_intro.md
Labels: Content

#244 Link GitHub PRs to Trello tickets automatically
  .github/workflows/trello.yml
Labels: DevOps

#249 Added presentations page
  assets/documents/ready-to-apply.pdf
  assets/documents/train-to-teach-and-support.pdf
  config/redirects.yml
  content/_presentations-cta.html.erb
  content/presentations.md
Labels: Assets, Config, Content

#250 Update deploy.yml
  .github/workflows/deploy.yml
Labels: DevOps

#255 Remove comma from end of teacher's name
  content/my-story-into-teaching/career-changers/passing-on-my-knowledge.md
Labels: Content

#256 Remove unnecessary guidance related content links
  content/guidance/become-a-teacher-in-england.md
  content/guidance/financial-support-for-teacher-training.md
Labels: Content

#257 Remove reference to GOV.UK
  content/ways-to-train.md
Labels: Content

#259 Add question/answer on GCSEs in 2021 to covid page
  content/covid-19.md
Labels: Content

#252 Update _intro.md
  content/returning-to-teaching/_intro.md
Labels: Content

#261 Include accordion layout in frontmatter
  content/steps-to-become-a-teacher.md
  content/ways-to-train.md
Labels: Content

#258 add label
  .github/workflows/build.yml
Labels: DevOps, Review

#263 Add an online events CTA to internationals page
  content/international-candidates.md
Labels: Content, Review

#260 Add new Ways to Train content/partials
  content/ways-to-train.md
  content/ways-to-train/_assessment_only.html.erb
  content/ways-to-train/_content_after_accordion.md
  content/ways-to-train/_content_before_accordion.md
  content/ways-to-train/_intro.md
  content/ways-to-train/_other_ways_to_train.md
  content/ways-to-train/_other_ways_to_train_cta.html.erb
  content/ways-to-train/_pgce.html.erb
  content/ways-to-train/_pgce.md
  content/ways-to-train/_postgraduate_teaching_apprenticeship.html.erb
  content/ways-to-train/_postgraduate_teaching_apprenticeships.md
  content/ways-to-train/_school_direct.md
  content/ways-to-train/_school_direct_fee_funded.html.erb
  content/ways-to-train/_school_direct_salaried.html.erb
  content/ways-to-train/_teach_first.html.erb
  content/ways-to-train/_teach_first.md
  content/ways-to-train/_things_to_consider.md
  content/ways-to-train/_things_to_consider_cta.html.erb
Labels: Content, Review

#262 Update become-a-teacher-in-england.md
  content/guidance/become-a-teacher-in-england.md
Labels: Content, Review

#264 Add layout to story frontmatter
  content/my-story-into-teaching.md
  content/my-story-into-teaching/career-changers/becoming-a-mum-sparked-my-interest-in-teaching.md
  content/my-story-into-teaching/career-changers/financiers-future-in-maths.md
  content/my-story-into-teaching/career-changers/from-construction-site-to-classroom.md
  content/my-story-into-teaching/career-changers/from-developing-software-to-developing-students.md
  content/my-story-into-teaching/career-changers/index.md
  content/my-story-into-teaching/career-changers/leaping-to-head-of-department.md
  content/my-story-into-teaching/career-changers/make-a-difference-to-young-people.md
  content/my-story-into-teaching/career-changers/natural-transition-from-engineering-to-teaching-physics.md
  content/my-story-into-teaching/career-changers/passing-on-my-knowledge.md
  content/my-story-into-teaching/career-changers/police-officer-to-pe-teacher.md
  content/my-story-into-teaching/career-changers/royal-marine-commando-to-geography-teacher.md
  content/my-story-into-teaching/career-changers/school-experience-helped-me-decide-to-switch.md
  content/my-story-into-teaching/career-changers/swapping-senior-management-for-students.md
  content/my-story-into-teaching/career-changers/teaching-gave-me-purpose.md
  content/my-story-into-teaching/career-changers/transferring-my-skills-to-teaching.md
  content/my-story-into-teaching/career-progression/grasp-every-opportunity.md
  content/my-story-into-teaching/career-progression/index.md
  content/my-story-into-teaching/career-progression/lawyer-to-assistant-teacher.md
  content/my-story-into-teaching/career-progression/leaping-to-head-of-department.md
  content/my-story-into-teaching/career-progression/newly-qualified-to-head-of-faculty.md
  content/my-story-into-teaching/career-progression/nqt-to-head-of-biology.md
  content/my-story-into-teaching/career-progression/one-year-from-post-grad-to-hod.md
  content/my-story-into-teaching/international-career-changers/index.md
  content/my-story-into-teaching/international-career-changers/returning-to-teaching-with-international-experience.md
  content/my-story-into-teaching/international-career-changers/returning-to-teaching-with-support-from-an-adviser.md
  content/my-story-into-teaching/making-a-difference/broadening-horizons-through-travelling-and-teaching.md
  content/my-story-into-teaching/making-a-difference/getting-our-geek-on-kids-coding.md
  content/my-story-into-teaching/making-a-difference/going-back-and-giving-back.md
  content/my-story-into-teaching/making-a-difference/index.md
  content/my-story-into-teaching/making-a-difference/inspiring-our-young-entrepreneurs.md
  content/my-story-into-teaching/making-a-difference/no-two-days-are-the-same.md
  content/my-story-into-teaching/making-a-difference/turning-a-tough-lesson-into-success.md
  content/my-story-into-teaching/returners/getting-back-into-the-classroom.md
  content/my-story-into-teaching/returners/index.md
  content/my-story-into-teaching/returners/top-tips-for-returning-teachers.md
  content/my-story-into-teaching/teacher-training-stories/banker-turned-teacher.md
  content/my-story-into-teaching/teacher-training-stories/index.md
  content/my-story-into-teaching/teacher-training-stories/salaried-teacher-training-classroom-learning.md
  content/my-story-into-teaching/teacher-training-stories/teacher-training-its-worth-it.md
  content/my-story-into-teaching/teacher-training-stories/why-dont-you-teach-miss.md
Labels: Content, Review

#267 Update _teach_first.html.erb
  content/ways-to-train/_teach_first.html.erb
Labels: Content

#268 Update _school_direct_salaried.html.erb
  content/ways-to-train/_school_direct_salaried.html.erb
Labels: Content

#270 Update _pgce.html.erb
  content/ways-to-train/_pgce.html.erb
Labels: Content

#269 Update _school_direct_fee_funded.html.erb
  content/ways-to-train/_school_direct_fee_funded.html.erb
Labels: Content

#266 Update _tuition-fees-and-maintenance-loans.md
  content/guidance/financial-support-for-teacher-training/_tuition-fees-and-maintenance-loans.md
Labels: Content, Review

#265 Update become-a-teacher-in-england.md
  content/guidance/become-a-teacher-in-england.md
Labels: Content, Review

#253 Replace old landing page with new draft copy
  config/redirects.yml
  content/helping-you-become-a-teacher.md
  content/helping-you-become-a-teacher/_coming-to-train-or-teach-in-the-uk.md
  content/helping-you-become-a-teacher/_email-updates-cta.html.erb
  content/helping-you-become-a-teacher/_email-updates.md
  content/helping-you-become-a-teacher/_events-cta.html.erb
  content/helping-you-become-a-teacher/_events.md
  content/helping-you-become-a-teacher/_intro.md
  content/helping-you-become-a-teacher/_tta-cta.html.erb
  content/helping-you-become-a-teacher/_tta.md
  content/three-things-to-help-you-get-into-teaching.md
Labels: Config, Content, Review

#271 Move and rename story list pages
  content/my-story-into-teaching/career-changers.md
  content/my-story-into-teaching/career-progression.md
  content/my-story-into-teaching/international-career-changers.md
  content/my-story-into-teaching/making-a-difference.md
  content/my-story-into-teaching/returners.md
  content/my-story-into-teaching/teacher-training-stories.md
Labels: Content, Review

#273 Update _teach_first.html.erb
  content/ways-to-train/_teach_first.html.erb
Labels: Content, Review

#272 Convert home page to markdown
  content/home.html.erb
  content/home.md
Labels: Content, Review

#275 Add descriptions for photo alt attributes
  content/my-story-into-teaching/career-changers.md
  content/my-story-into-teaching/career-progression.md
  content/my-story-into-teaching/international-career-changers.md
  content/my-story-into-teaching/making-a-difference.md
  content/my-story-into-teaching/returners.md
  content/my-story-into-teaching/teacher-training-stories.md
Labels: Content, Review

#277 Dont label with dependabots
  .github/workflows/build.yml
Labels: DevOps

#274 Add Statuscake to terraform
  terraform/paas/production.env.tfvars
Labels: DevOps

#278 Update production.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/statuscake.tf
Labels: DevOps, Review

#279 Fix Network policies after deployment
  .github/workflows/build.yml
Labels: DevOps

#280 Update Ways To Train based on Policy Feedback
  content/ways-to-train/_assessment_only.html.erb
  content/ways-to-train/_intro.md
  content/ways-to-train/_pgce.html.erb
  content/ways-to-train/_postgraduate_teaching_apprenticeship.html.erb
  content/ways-to-train/_school_direct_salaried.html.erb
  content/ways-to-train/_teach_first.html.erb
Labels: Content, Review

#281 Update the page heading to match the new title
  content/three-things-to-help-you-get-into-teaching.md
Labels: Content, Review

#283 Add hero_nav section and headings markup
  content/three-things-to-help-you-get-into-teaching.md
Labels: Content, Review

#285 Transition to home_old layout
  content/home.md
Labels: Content, Review

#286 Transition home page to new layout
  content/home.md
  content/home/_featured_content.html.erb
  content/home/_find_an_event_near_you.html.erb
  content/home/_home_quote.html.erb
  content/home/_life_as_a_teacher.html.erb
  content/home/_steps_home.html.erb
Labels: Content, Review

#284 Rename GovPaaS Organisation Name
  terraform/paas/variables.tf
Labels: DO NOT MERGE, DevOps

#276 Added assessment only providers
  content/_assessment-only-providers-listing.html.erb
  content/assessment-only-providers.md
Labels: Content, Review

#287 Update _assessment_only.html.erb
  content/ways-to-train/_assessment_only.html.erb
Labels: Content, Review

#289 Checking against wrong ID
  .github/workflows/build.yml
Labels: DevOps, Review

#290 Update three-things-to-help-you-get-into-teaching.md
  content/three-things-to-help-you-get-into-teaching.md
Labels: Content, Review

#292 Add small class to home page straplines
  content/home/_featured_content.html.erb
  content/home/_find_an_event_near_you.html.erb
  content/home/_steps_home.html.erb
Labels: Content, Review

#293 Fix Laura's story summary text
  content/my-story-into-teaching/making-a-difference.md
Labels: Content, Review

#291 Better Release Body
  .github/workflows/build.yml
Labels: DevOps, Review

#294 Remove extra support for int'l teachers section
  content/international-candidates.md
Labels: Content, Review

#295 Update funding-your-training.md
  content/funding-your-training.md
Labels: Content, Review

#282 Secrets moved to terraform
  .github/workflows/build.yml
  .github/workflows/cve.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/manual.yml
  .github/workflows/owasp.yml
  .github/workflows/trello.yml
  terraform/paas/application.tf
  terraform/paas/data.tf
  terraform/paas/dev.env.tfvars
  terraform/paas/production.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/review.env.tfvars
  terraform/paas/statuscake.tf
  terraform/paas/test.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps, Review

#296 Update home.md
  content/home.md
Labels: Content, Review
