Repository DFE-Digital/get-into-teaching-content, pull requests merged in 2021-04, with the labels that each got.

#373 Remove unused fonts
  assets/fonts/bold-affa96571d-v2.woff
  assets/fonts/bold-b542beb274-v2.woff2
  assets/fonts/light-94a07e06a1-v2.woff2
  assets/fonts/light-f591b13f7d-v2.woff
Labels: Assets, Review

#372 Adding a link to a return to teaching event
  content/returning-to-teaching.md
Labels: Content, Review

#375 Correct Clair -> Claire
  content/my-story-into-teaching/career-changers.md
  content/my-story-into-teaching/career-changers/becoming-a-mum-sparked-my-interest-in-teaching.md
Labels: Content, Review

#374 Add description meta tags to stories and guidance
  content/guidance/become-a-teacher-in-england.md
  content/guidance/financial-support-for-international-applicants.md
  content/my-story-into-teaching/career-changers.md
  content/my-story-into-teaching/career-changers/becoming-a-mum-sparked-my-interest-in-teaching.md
  content/my-story-into-teaching/career-changers/financiers-future-in-maths.md
  content/my-story-into-teaching/career-changers/from-construction-site-to-classroom.md
  content/my-story-into-teaching/career-changers/from-developing-software-to-developing-students.md
  content/my-story-into-teaching/career-changers/make-a-difference-to-young-people.md
  content/my-story-into-teaching/career-changers/natural-transition-from-engineering-to-teaching-physics.md
  content/my-story-into-teaching/career-changers/passing-on-my-knowledge.md
  content/my-story-into-teaching/career-changers/police-officer-to-pe-teacher.md
  content/my-story-into-teaching/career-changers/royal-marine-commando-to-geography-teacher.md
  content/my-story-into-teaching/career-changers/school-experience-helped-me-decide-to-switch.md
  content/my-story-into-teaching/career-changers/swapping-senior-management-for-students.md
  content/my-story-into-teaching/career-changers/teaching-gave-me-purpose.md
  content/my-story-into-teaching/career-changers/transferring-my-skills-to-teaching.md
  content/my-story-into-teaching/career-progression.md
  content/my-story-into-teaching/career-progression/grasp-every-opportunity.md
  content/my-story-into-teaching/career-progression/lawyer-to-assistant-teacher.md
  content/my-story-into-teaching/career-progression/leaping-to-head-of-department.md
  content/my-story-into-teaching/career-progression/newly-qualified-to-head-of-faculty.md
  content/my-story-into-teaching/career-progression/nqt-to-head-of-biology.md
  content/my-story-into-teaching/career-progression/one-year-from-post-grad-to-hod.md
  content/my-story-into-teaching/international-career-changers.md
  content/my-story-into-teaching/international-career-changers/returning-to-teaching-with-international-experience.md
  content/my-story-into-teaching/international-career-changers/returning-to-teaching-with-support-from-an-adviser.md
  content/my-story-into-teaching/making-a-difference.md
  content/my-story-into-teaching/making-a-difference/broadening-horizons-through-travelling-and-teaching.md
  content/my-story-into-teaching/making-a-difference/getting-our-geek-on-kids-coding.md
  content/my-story-into-teaching/making-a-difference/going-back-and-giving-back.md
  content/my-story-into-teaching/making-a-difference/inspiring-our-young-entrepreneurs.md
  content/my-story-into-teaching/making-a-difference/no-two-days-are-the-same.md
  content/my-story-into-teaching/making-a-difference/turning-a-tough-lesson-into-success.md
  content/my-story-into-teaching/returners.md
  content/my-story-into-teaching/returners/getting-back-into-the-classroom.md
  content/my-story-into-teaching/returners/top-tips-for-returning-teachers.md
  content/my-story-into-teaching/teacher-training-stories.md
  content/my-story-into-teaching/teacher-training-stories/banker-turned-teacher.md
  content/my-story-into-teaching/teacher-training-stories/salaried-teacher-training-classroom-learning.md
  content/my-story-into-teaching/teacher-training-stories/teacher-training-its-worth-it.md
  content/my-story-into-teaching/teacher-training-stories/why-dont-you-teach-miss.md
Labels: Content, Review

#371 content edit to steps page: Intro and Step one
  content/home/_purple-box.html
  content/steps-to-become-a-teacher.md
  content/steps-to-become-a-teacher/_check_your_qualifications.html.erb
Labels: Content, Review

#378 Correct typo in detailed guidance
  content/guidance/become-a-teacher-in-england.md
Labels: Content

#380 Update assessment-only-providers.md
  content/assessment-only-providers.md
Labels: Content, Review

#381 Remove keywords from finance guidance - not linked to
  content/funding-your-training.md
  content/guidance/become-a-teacher-in-england.md
  content/guidance/financial-support-for-teacher-training.md
Labels: Content, Review

#383 Devops/pagespeed fix
  .github/workflows/deploy.yml
  .github/workflows/manual.yml
  terraform/paas/pagespeed.env.tfvars
Labels: DevOps, Review

#377 Fingerprint assets during Docker build process
  Dockerfile
Labels: Docker, Review

#343 Add redirections for BAU paths to new counterparts
  config/redirects.yml
Labels: Config, Review

#386 Reduce Trello Noise
  .github/workflows/build.yml
  .github/workflows/destroy.yml
  .github/workflows/manual.yml
Labels: DevOps, Review

#387 Optimize image assets
  Dockerfile
Labels: Docker, Review

#376 Ways to train content changes
  content/steps-to-become-a-teacher/_check_your_qualifications.html.erb
  content/ways-to-train.md
Labels: Content, Review

#384 User Research Environment Created
  .github/workflows/deploy.yml
  .github/workflows/manual.yml
  terraform/paas/ur.bk.vars
  terraform/paas/ur.env.tfvars
Labels: DevOps, Review

#389 More invalid link fixes
  content/assessment-only-providers.md
  content/guidance/become-a-teacher-in-england.md
Labels: Content, Review

#390 Copy images into next-gen formats
  Dockerfile
Labels: Docker, Review

#365 Updated Phone Number to 2500 instead of 2501
  content/guidance/become-a-teacher-in-england.md
  content/international-candidates.md
Labels: Content, Review

#393 Only process public assets
  Dockerfile
Labels: Docker, Review

#394 Add a few routes that are causing 404s on live
  config/redirects.yml
Labels: Config

#388 Statuscake - Check Live URLs
  terraform/paas/production.env.tfvars
Labels: DevOps, Review

#395 More redirects post golive (part 2)
  config/redirects.yml
Labels: Config

#392 More internationals content changes
  content/international-returners.md
Labels: Content, Review

#396 Decrease Cypress Test Timeout
  .github/workflows/build.yml
Labels: DevOps, Review

#398 Another batch of old site redirects
  config/redirects.yml
Labels: Config

#400 Correct typo in story
  content/my-story-into-teaching/teacher-training-stories/teacher-training-its-worth-it.md
Labels: Content, Review

#401 Fix an old link that links to the beta TTA signup
  content/international-returners/_support-for-shortage-subjects.md
Labels: Content

#403 Add legacy website redirects
  config/redirects.yml
Labels: Config, Review

#405 Increase timeout in page speed env
  terraform/paas/application.tf
  terraform/paas/pagespeed.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps, Review

#406 Load page-speed-keys for page speed env
  Makefile
  terraform/paas/data.tf
  terraform/paas/pagespeed.env.tfvars
  terraform/paas/variables.tf
Labels: DevOps, Review

#408 Network Policies
  .github/workflows/build.yml
Labels: DevOps

#409 Add parameter to redirect wildcard
  config/redirects.yml
Labels: Config, Review

#404 Make icon sizes explicit
  content/home/_directory.html.erb
Labels: Content, Review

#410 Redirect root paths along with wildcard
  config/redirects.yml
Labels: Config, Review

#411 More redirects from legacy website
  config/redirects.yml
Labels: Config, Review

#412 Update Disk Quota
  terraform/paas/application.tf
Labels: DevOps, Review

#417 Add more legacy redirects
  config/redirects.yml
Labels: Config, Review

#420 Factual corrections to bursary eligibility
  content/funding-your-training.md
Labels: Content, Review

#418 Deploy Monday 19 April: Standardise acronym capitalisation
  config/frontmatter.yml
Labels: Config, Review

#422 Docker Lint ignore DL3045
  Dockerfile
Labels: Docker, Review

#414 Deploy Monday 19 April: More meta descriptions
  content/early-years-teaching-training.md
  content/further-education-teacher-training.md
  content/guidance/financial-support-for-teacher-training.md
  content/international-returners.md
Labels: Content, Review

#407 Deploy from Monday 19 April onwards once happy: Restructure Salaries and Benefits to better serve the majority of users
  content/salaries-and-benefits.md
Labels: Content, Review

#416 Merge 19 April: add relevant content from beast page only ways page and delete from b…
  content/guidance/become-a-teacher-in-england.md
  content/ways-to-train.md
Labels: Content, Review

#397 Deploy Monday 19 April: Undergraduate Ways To Train (Policy Approved 8 April)
  content/ways-to-train.md
Labels: Content, Review

#402 international trainees and teachers new draft
  content/international-candidates.md
  content/ways-to-train.md
Labels: Content, Review

#419 WIP Attempt to create a teaching internship providers list
  content/guidance/become-a-teacher-in-england.md
  content/steps-to-become-a-teacher.md
  content/steps-to-become-a-teacher/_consider_school_experience.html.erb
  content/teaching-internship-providers.md
  content/teaching-internship-providers/_listing.html.erb
Labels: Content, Review

#421 Deploy Monday 19 April: Update links to returners events
  content/returning-to-teaching.md
Labels: Content, Review

#424 use lowercase for TTA
  content/guidance/become-a-teacher-in-england.md
  content/home/_calls-to-action.html.erb
  content/presentations.md
  content/steps-to-become-a-teacher.md
  content/steps-to-become-a-teacher/_find_out_about_teaching_and_training.html.erb
  content/three-things-to-help-you-get-into-teaching.md
  content/ways-to-train.md
Labels: Content

#426 Correct Excalibur typo
  content/teaching-internship-providers.md
Labels: Content, Review

#427 Oak Academy content
  content/steps-to-become-a-teacher.md
  content/steps-to-become-a-teacher/_consider_school_experience.html.erb
Labels: Content, Review

#428 light formatting and style improvements
  content/covid-19.md
Labels: Content, Review

#429 make steps banner content more concise and give more accurate button …
  content/home/_purple-box.html
Labels: Content, Review

#423 Add 'tips for applying for teacher training' page
  content/steps-to-become-a-teacher/_find_and_apply_teacher_training.html.erb
  content/tips-on-applying-for-teacher-training.md
Labels: Content, Review

#430 updating teach north
  content/teaching-internship-providers.md
Labels: Content, Review

#433 keywords review and update
  content/a-day-in-the-life-of-a-teacher.md
  content/accessibility.md
  content/assessment-only-providers.md
  content/early-years-teaching-training.md
  content/further-education-teacher-training.md
  content/international-candidates.md
  content/international-returners.md
  content/my-story-into-teaching.md
  content/presentations.md
  content/returning-to-teaching.md
  content/salaries-and-benefits.md
  content/steps-to-become-a-teacher.md
  content/teaching-internship-providers.md
  content/three-things-to-help-you-get-into-teaching.md
Labels: Content, Review

#436 splitting out provider info
  content/teaching-internship-providers.md
Labels: Content, Review

#435 Updated a provider to E of England and correct a '.' to ','
  content/assessment-only-providers.md
  content/salaries-and-benefits.md
Labels: Content, Review

#413 Add RTTA video to page
  content/returning-to-teaching.md
Labels: Content, Review
