Repository DFE-Digital/get-into-teaching-content, pull requests merged in 2021-03, with the labels that each got.

#328 Recombine rich content
  content/a-day-in-the-life-of-a-teacher.md
  content/a-day-in-the-life-of-a-teacher/_day_four_quote.html.erb
  content/a-day-in-the-life-of-a-teacher/_day_one_quote.html.erb
  content/a-day-in-the-life-of-a-teacher/_day_three_quote.html.erb
  content/a-day-in-the-life-of-a-teacher/_day_two_quote.html.erb
  content/a-day-in-the-life-of-a-teacher/_example_part_four.md
  content/a-day-in-the-life-of-a-teacher/_example_part_one.md
  content/a-day-in-the-life-of-a-teacher/_example_part_three.md
  content/a-day-in-the-life-of-a-teacher/_example_part_two.md
  content/a-day-in-the-life-of-a-teacher/_intro.md
  content/a-day-in-the-life-of-a-teacher/_jobs_in_teaching.html.erb
  content/funding-your-training.md
  content/funding-your-training/_applying-for-funding-if-you-come-from-outside-england-cta.html.erb
  content/funding-your-training/_applying-for-funding-if-you-come-from-outside-england.md
  content/funding-your-training/_bursaries-and-scholarships-cta.html.erb
  content/funding-your-training/_bursaries-and-scholarships.md
  content/funding-your-training/_early-career-framework.md
  content/funding-your-training/_get-extra-financial-support-cta.html.erb
  content/funding-your-training/_get-extra-financial-support.md
  content/funding-your-training/_tuition-fee-and-maintenance-loans-cta.html.erb
  content/funding-your-training/_tuition-fee-and-maintenance-loans.md
  content/guidance/financial-support-for-teacher-training.md
  content/guidance/financial-support-for-teacher-training/_bursaries-1.md
  content/guidance/financial-support-for-teacher-training/_bursaries-2.md
  content/guidance/financial-support-for-teacher-training/_bursaries-cta-2.html.erb
  content/guidance/financial-support-for-teacher-training/_bursaries-cta.html.erb
  content/guidance/financial-support-for-teacher-training/_disabled-students.md
  content/guidance/financial-support-for-teacher-training/_intro.md
  content/guidance/financial-support-for-teacher-training/_parents-and-carers.md
  content/guidance/financial-support-for-teacher-training/_scholarships-cta.html.erb
  content/guidance/financial-support-for-teacher-training/_scholarships.md
  content/returning-to-teaching.md
  content/returning-to-teaching/_finding-a-role.md
  content/returning-to-teaching/_improving-the-lives-of-teachers.md
  content/returning-to-teaching/_intro-cta.html.erb
  content/returning-to-teaching/_intro.md
  content/returning-to-teaching/_support-for-returners-with-protected-characteristics.md
  content/ways-to-train.md
  content/ways-to-train/_assessment_only.html.erb
  content/ways-to-train/_intro.md
  content/ways-to-train/_other_ways_to_train.md
  content/ways-to-train/_other_ways_to_train_cta.html.erb
  content/ways-to-train/_pgce.html.erb
  content/ways-to-train/_postgraduate_teaching_apprenticeship.html.erb
  content/ways-to-train/_school_direct_fee_funded.html.erb
  content/ways-to-train/_school_direct_salaried.html.erb
  content/ways-to-train/_subject_knowledge_enhancement.md
  content/ways-to-train/_teach_first.html.erb
  content/ways-to-train/_things_to_consider.md
  content/ways-to-train/_things_to_consider_cta.html.erb
  content/ways-to-train/_tta_cta_mob.html.erb
Labels: Content, Review

#330 Replace NARIC with ENIC following rebranding
  content/international-candidates.md
Labels: Content, Review

#331 Add update details info to providers page
  content/_assessment-only-providers-listing.html.erb
  content/assessment-only-providers.md
  content/assessment-only-providers/_listing.html.erb
  content/assessment-only-providers/_update-details.erb
Labels: Content, Review

#334 Validate Azure Keys
  .github/workflows/deploy.yml
Labels: DevOps

#333 Updated keywords
  content/steps-to-become-a-teacher.md
  content/three-things-to-help-you-get-into-teaching.md
Labels: Content, Review

#332 Rename 3rd Column on Homepage
  content/home/_directory.html.erb
Labels: Content, Review

#329 Add guidance for international applicants
  config/frontmatter.yml
  content/funding-your-training.md
  content/guidance/financial-support-for-international-applicants.md
  content/international-candidates.md
Labels: Config, Content, Review

#336 Improve sentence structure.
  content/guidance/become-a-teacher-in-england.md
Labels: Content, Review

#335 Added Secrets Makefile
  .gitignore
  Makefile
Labels: DevOps, Review

#337 Swap featured story to day in the life of a teacher cta
  assets/images/a-day-in-the-life-of-a-teacher.jpg
  content/a-day-in-the-life-of-a-teacher.md
  content/my-story-into-teaching.md
Labels: Assets, Content, Review

#338 Update Trello to Common Action
  .github/workflows/trello.yml
Labels: DevOps, Review

#339 International candidates content tweaks
  content/funding-your-training.md
  content/guidance/financial-support-for-international-applicants.md
Labels: Content, Review

#345 Correct typo (Iwas --> I was)
  content/my-story-into-teaching/career-changers/swapping-senior-management-for-students.md
Labels: Content, Review

#340 Refresh returners copy and add interational returners
  assets/images/international-returners-dt.jpg
  content/international-returners.md
  content/international-returners/_after-accordion.md
  content/international-returners/_before-accordion.md
  content/international-returners/_check-your-qualifications.md
  content/international-returners/_download-info-pack.md
  content/international-returners/_find-your-next-role.md
  content/international-returners/_get-ready-to-apply.md
  content/international-returners/_get-started-on-your-personal-and-professional-admin.md
  content/international-returners/_read-up-on-changes-to-english-schools.md
  content/international-returners/_research-visas-and-immigration.md
  content/international-returners/_support-for-shortage-subjects.md
  content/returning-to-teaching.md
Labels: Assets, Content, Review

#349 Update returning-to-teaching.md
  content/returning-to-teaching.md
Labels: Content

#346 Updated COVID links for Key Messages team
  content/covid-19.md
Labels: Content, Review

#348 2 x new AO Providers added
  content/assessment-only-providers.md
Labels: Content, Review

#353 Update returning-to-teaching.md
  content/returning-to-teaching.md
Labels: Content, Review

#354 Marketing quote about leadership salaries
  content/salaries-and-benefits.md
Labels: Content, Review

#352 Replace all http instances with https
  LICENCE.md
  content/assessment-only-providers.md
  content/funding-your-training.md
  content/guidance/become-a-teacher-in-england.md
  content/returning-to-teaching.md
Labels: Content, Review

#342 Restructure steps for an accordion-free layout
  content/steps-to-become-a-teacher.md
  content/steps-to-become-a-teacher/_after_you_have_applied.html.erb
  content/steps-to-become-a-teacher/_after_you_have_applied.md
  content/steps-to-become-a-teacher/_check_your_qualifications.html.erb
  content/steps-to-become-a-teacher/_check_your_qualifications.md
  content/steps-to-become-a-teacher/_consider_school_experience.html.erb
  content/steps-to-become-a-teacher/_consider_school_experience.md
  content/steps-to-become-a-teacher/_find_and_apply_teacher_training.html.erb
  content/steps-to-become-a-teacher/_find_and_apply_teacher_training.md
  content/steps-to-become-a-teacher/_find_out_about_teaching_and_training.html.erb
  content/steps-to-become-a-teacher/_find_out_about_teaching_and_training.md
  content/steps-to-become-a-teacher/_ways_to_train.html.erb
  content/steps-to-become-a-teacher/_ways_to_train.md
  content/steps-to-become-a-teacher/if-you-need-to-get-the-right-qualifications.md
Labels: Content, Review

#359 Run the External Links checker every morning
  .github/workflows/build.yml
  .github/workflows/link_checker.yml
Labels: DevOps, Review

#361 Revert "Run the External Links checker every morning"
  .github/workflows/build.yml
  .github/workflows/link_checker.yml
Labels: DevOps, Review

#360 Minor SEO fixes
  content/accessibility.md
  content/my-story-into-teaching/career-changers.md
  content/my-story-into-teaching/career-changers/leaping-to-head-of-department.md
  content/my-story-into-teaching/returners.md
Labels: Content, Review

#351 Begin adding descriptions/dates to top level pages
  content/a-day-in-the-life-of-a-teacher.md
  content/accessibility.md
  content/assessment-only-providers.md
  content/covid-19.md
  content/funding-your-training.md
  content/home.md
  content/international-candidates.md
  content/my-story-into-teaching.md
  content/presentations.md
  content/research.md
  content/returning-to-teaching.md
  content/salaries-and-benefits.md
  content/steps-to-become-a-teacher.md
  content/three-things-to-help-you-get-into-teaching.md
  content/ways-to-train.md
Labels: Content, Review

#362 streamline content and correct typos
  content/returning-to-teaching.md
Labels: Content, Review

#357 Update funding-your-training.md
  content/funding-your-training.md
  content/guidance/financial-support-for-international-applicants.md
  content/salaries-and-benefits.md
Labels: Content, Review

#366 light copy edit
  content/international-candidates.md
Labels: Content, Review

#363 Bring the daily External Links check back in
  .github/workflows/link_checker.yml
Labels: DevOps, Review

#368 Add name to the mailinglist signup link
  content/home.md
  content/home/_directory.html.erb
  content/steps-to-become-a-teacher/_find_out_about_teaching_and_training.html.erb
  content/three-things-to-help-you-get-into-teaching.md
Labels: Content, Review

#364 New Early Years and Further Education pages
  content/early-years-teaching-training.md
  content/further-education-teacher-training.md
  content/steps-to-become-a-teacher.md
  content/steps-to-become-a-teacher/_after_you_have_applied.html.erb
  content/steps-to-become-a-teacher/_check_your_qualifications.html.erb
  content/steps-to-become-a-teacher/_find_and_apply_teacher_training.html.erb
  content/steps-to-become-a-teacher/_find_out_about_teaching_and_training.html.erb
Labels: Content, Review

#367 Speed Check Manual Deploy
  .github/workflows/deploy.yml
  terraform/paas/application.tf
  terraform/paas/data.tf
  terraform/paas/pagespeed.bk.vars
  terraform/paas/pagespeed.env.tfvars
  terraform/paas/provider.tf
  terraform/paas/statuscake.tf
  terraform/paas/variables.tf
Labels: DevOps

#369 Policy request
  content/steps-to-become-a-teacher/_consider_school_experience.html.erb
Labels: Content, Review

#370 Update Uni Hull AO details
  content/assessment-only-providers.md
Labels: Content, Review
